<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.he.attend.dao.CalendarMapper">


    <select id="queryStaffIds" resultType="integer">
      select DISTINCT staff_id FROM ts_staff_calendar
    </select>

    <select id="queryCalendarByStaffid" parameterType="integer" resultType="com.he.attend.model.AttendCalendar">
        select * from ts_staff_calendar where staff_id =#{staffid}
    </select>
</mapper>