<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.he.attend.dao.PlaceMapper">
<update id="updateById" parameterType="integer">
    update ts_place set statu=#{statu} where id =#{id}
</update>

    <update id="update">
        update ts_place set name=#{name},rel_name=#{relName},longitude=#{longitude},latitude=#{latitude},distance=#{distance}
        where id =#{id}
    </update>

    <select id="queryPlaceNameById" parameterType="integer" resultType="string">
        select name from ts_place where id=#{id}
    </select>

</mapper>